body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(196, 214, 230);

}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background:#336c97;
    padding: 20px;
    border-radius: 30px;
    POSITION:relative
}